<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/layout.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav id="side-nav">
        <div>
            <ul>
                <li>Channels</li>
                <li><a href="#">Home</a></li>
                <li><a href="#">ION9000</a></li>
                <li><a href="#">ION8000</a></li>
                <li><a href="#">ION7400</a></li>
                <li><a href="#">ION7X50</a></li>
                <li><a href="#">PME</a></li>
                <li><a href="#">PSE(SCADA)</a></li>
            </ul>
            <div id="nav-control"> > </div>
        </div>
    </nav>
    <div id="banner-top">
        <header>SELLit</header>
        <div id="user-cred">Contibutor/Visitor</div>
    </div>
    <main>
        @RenderBody()
    </main>

    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </environment> 
    <environment include="Development">
        <script src="/lib/jquery/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    </environment>

    @*<script src="~/js/"></script>*@
</body>
</html>
