@{
    ViewBag.Title = "Home";
}

@model ICollection<Post>

@section Styles {
    <link rel="stylesheet" href="~/css/landing.css" />
}

<nav id="filters">
    <span><a href="#">Most Recent</a></span>
    <span><a href="#">Highest Rated</a></span>
    <span><a href="#">Controversial</a></span>
</nav>
<div class="posts">
    @foreach (var post in Model)
    {
        <div class="post">
            <span class="post-user"><a href="#">@post.User.Username</a></span>
            <a href="#" class="post-topic"><p>@post.Heading</p></a>
            <div class="post-info">
                <div><i>^ </i>: @post.Rating.Upvotes</div>
                <div><i>^ </i>: @post.Rating.Downvotes</div>
            </div>
        </div>    
    }
</div>