@{
    ViewBag.Title = "Home";
}

@section Styles {
    <link rel="stylesheet" href="~/css/landing.css" />
}

<nav id="filters">
    <span><a href="#">Most Recent</a></span>
    <span><a href="#">Highest Rated</a></span>
    <span><a href="#">Controversial</a></span>
</nav>
<div class="posts">
    <div class="post">
        <span class="post-user"><a href="#">User_pme</a></span>
        <a href="#" class="post-topic"><p>This is a sample topic!!</p></a>
        <div class="post-info">
            <div><i>^ </i>: 20</div>
            <div><i>^ </i>: 5</div>
        </div>
    </div>    
    <div class="post">
        <span class="post-user"><a href="#">User_pme</a></span>
        <a href="#" class="post-topic"><p>This is a sample topic!!</p></a>
        <div class="post-info">
            <div><i>^ </i>: 20</div>
            <div><i>^ </i>: 5</div>
        </div>
    </div>    
    <div class="post">
        <span class="post-user"><a href="#">User_pme</a></span>
        <a href="#" class="post-topic"><p>This is a sample topic!!</p></a>
        <div class="post-info">
            <div><i>^ </i>: 20</div>
            <div><i>^ </i>: 5</div>
        </div>
    </div>    
    <div class="post">
        <span class="post-user"><a href="#">User_pme</a></span>
        <a href="#" class="post-topic"><p>This is a sample topic!!</p></a>
        <div class="post-info">
            <div><i>^ </i>: 20</div>
            <div><i>^ </i>: 5</div>
        </div>
    </div>    
    <div class="post">
        <span class="post-user"><a href="#">User_pme</a></span>
        <a href="#" class="post-topic"><p>This is a sample topic!!</p></a>
        <div class="post-info">
            <div><i>^ </i>: 20</div>
            <div><i>^ </i>: 5</div>
        </div>
    </div>    
    <div class="post">
        <span class="post-user"><a href="#">User_pme</a></span>
        <a href="#" class="post-topic"><p>This is a sample topic!!</p></a>
        <div class="post-info">
            <div><i>^ </i>: 20</div>
            <div><i>^ </i>: 5</div>
        </div>
    </div>
</div>